.container {
  width: 85%;
  margin: 0 auto;
  max-height: 60vh;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 100vh;
  }
}

/*文字サイズ調整*/
@media (max-width: 600px) {
  .fc-event-title {
    font-size: 3px; 
  }
}


@media (min-width: 601px) and (max-width: 960px) {
  .fc-event-title {
    font-size: 12px; 
  }
}


@media (min-width: 961px) {
  .fc-event-title {
    font-size: 14px;
  }
}